.App {
  text-align: center;
}


.hero-section {
  background-image: url(../calmingdown-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}

.about-section {
  padding: 60px 0;
  background-color: #fff;
}

.skills-section {
  padding: 60px 0;
  background-color: #f5f5f5;
}

.portfolio-section {
  padding: 60px 0;
  background-color: #fff;
}

.footer-section {
  padding: 60px 0;
  background-color: #f5f5f5;
}

.footer-section a {
  margin-right: 10px;
}

.footer-section a:last-child {
  margin-right: 0;
}
img{
box-shadow: 0 5px 10px black;
}


